openai
anthropic
tree_sitter
tenacity==8.2.2
pydantic==1.10.7
rank-bm25==0.2.2
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
tqdm>=4.66.3 # not directly required, pinned by Snyk to avoid a vulnerability
